node_modules
package-lock.json
package.json
scripts
templates

README.md
package-lock.json
pnpm-lock.yaml
yarn.lock

.DS_Store
.github
.cache
.vscode
.idea
.snap
.env

*.bak
*.tem
*.temp
#.swp
*.*~
~*.*

# IDEA
*.iml
*.ipr
*.iws