main {
  grid-template-columns: repeat(1, 1fr);
  border-radius: 1em;
  padding-top: 3em;
}

main pre {
  text-align: center;
  font-size: 32px;
  overflow-x: auto;
  line-height: 2;
  padding: 1em 1em;
  margin: 0;
}

main h2, #font-status {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Noto Sans", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
  font-weight: 200;
}

main h2 {
  text-align: center;
  color: #818181;
}

#download {
  text-align: center;
  background: #fffefe36;
  padding: 0.65em 1em;
  border-radius: 2em;
  box-shadow: 0px 0px 2px 3px #1b1b1b;
  display: inline-flex;
  align-items: center;
  gap: 0.23em;
}

#download:hover {
  background: #2279a0;
  color: white;
}

#font-status::before {
  content: " ";
  display: inline-block;
  width: 14px;
  height: 14px;
  margin-right: 3px;
  margin-top: -3px;
  vertical-align: middle;
  background-image: url(../icons/loading-oval.svg);
  background-repeat: no-repeat;
  background-size: 14px 14px;
}
#font-status.done, #font-status.done::before {
  display: none;
}