main {
  grid-template-columns: repeat(1, 1fr);
  border-radius: 1em;
}

main h2:first-of-type {
  margin-top: 0;
}

main pre {
  text-align: center;
  font-size: 32px;
  overflow-x: auto;
  line-height: 2;
  padding: 1em 1em;
  margin: 0;
}

main h2, #font-status {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Noto Sans", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
  font-weight: 200;
}

main h2 {
  text-align: center;
  color: #818181;
}

.download a {
  margin-top: 1em;
}

.download a:first-child {
  margin-top: 0 !important;
}
.download a {
  text-align: center;
  background: #fffefe36;
  padding: 0.35em 0.86em;
  border-radius: 2em;
  box-shadow: 0px 0px 2px 3px #1b1b1b;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 0.23em;
  min-width: 180px;
}

.download a:hover {
  background: #2279a0;
  color: white;
}

#font-status::before {
  content: " ";
  display: inline-block;
  width: 14px;
  height: 14px;
  margin-right: 3px;
  margin-top: -3px;
  vertical-align: middle;
  background-image: url(../icons/loading-oval.svg);
  background-repeat: no-repeat;
  background-size: 14px 14px;
}
#font-status.done, #font-status.done::before {
  display: none;
}

#license > span, #license > a {
  font-size: 10px;
  border-radius: 4px;
  padding: 1px 3px;
  line-height: 14px;
  color: #15a52e;
  background: #00560399;
}

#license span.size {
  background: #4b4b4ba6;
  color: #909090;
}

#license span.version {
  background: #a3a0004d;
  color: #9ea756;
}

#license > a:hover {
  background: #009fe9;
  color: white;
}

#license > a {
  color: #0091d2;
  background: #00546f99;
}
#license {
  padding-top: 3em;
  font-size: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1em;
}

#preview img {
  max-width: 760px;
  width: 100%;
}