<%- include('./_partial/header', {
  type: "home", title: "收录商用免费艺术体字体｜Free Font｜免费商用字体合集（中文与英文字体）", pageurl: "art.html",
  description: "Free Font - 收录商用免费艺术体字体，包括汉字和英文字体，提供免费下载和使用。"
}); %>
<header>
<%- include('./_partial/header-title', { length: DATA.filter((item) => item.type == "艺术体").length, type: "艺术体" }); %>
</header>
<main>
  <% DATA.filter((item) => item.type == "艺术体").sort((a, b) => a.ctime - b.ctime).forEach(function(font, idx){ %>
    <%- include('./_partial/home-list', { font }); %>
  <% }); %>
</main>
<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-Z10L1MBTYC"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-Z10L1MBTYC');
</script>
<%- include('./_partial/footer', { }); %>