<%- include('./_partial/header', { type: "home", title: "艺术体", pageurl: "art.html" }); %>
<header>
<%- include('./_partial/header-title', { length: DATA.filter((item) => item.type == "艺术体").length, type: "艺术体" }); %>
</header>
<main>
  <% DATA.filter((item) => item.type == "艺术体").sort((a, b) => a.ctime - b.ctime).forEach(function(font, idx){ %>
    <%- include('./_partial/home-list', { font }); %>
  <% }); %>
</main>
<%- include('./_partial/footer', { }); %>