<%- include('./_partial/header', { type: "home", title: "英文字体", pageurl: "english.html" }); %>
<% const englishData = DATA.filter((item) => item.path.split("/").includes("english")).sort((a, b) => a.ctime - b.ctime) %>
<header>
<%- include('./_partial/header-title', { length: englishData.length, type: "英文" }); %>
</header>
<main>
  <% englishData.forEach(function(font, idx){ %>
    <%- include('./_partial/home-list', { font }); %>
  <% }); %>
</main>
<%- include('./_partial/footer', { }); %>