<%- include('./_partial/header', { type: "home", title: "英文字体", pageurl: "english.html" }); %>
<% const englishData = DATA.filter((item) => item.path.split("/").includes("english")).sort((a, b) => a.ctime - b.ctime) %>
<header>
<%- include('./_partial/header-title', { length: englishData.length, type: "英文" }); %>
</header>
<main>
  <% englishData.forEach(function(font, idx){ %>
    <%- include('./_partial/home-list', { font }); %>
  <% }); %>
</main>
<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-X10WPTEL5L"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-X10WPTEL5L');
</script>
<%- include('./_partial/footer', { }); %>