<%- include('./_partial/header', { type: "home", title: "手绘体", pageurl: "handwriting.html" }); %>
<header>
<%- include('./_partial/header-title', { length: DATA.filter((item) => item.type == "手绘体").length, type: "手绘体" }); %>
</header>
<main>
  <% DATA.filter((item) => item.type == "手绘体").sort((a, b) => a.ctime - b.ctime).forEach(function(font, idx){ %>
    <%- include('./_partial/home-list', { font }); %>
  <% }); %>
</main>
<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-2BMX4H4SED"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-2BMX4H4SED');
</script>
<%- include('./_partial/footer', { }); %>