<%- include('./_partial/header', { type: "home", title: "黑体", pageurl: "hei.html" }); %>
<header>
<%- include('./_partial/header-title', { length: DATA.filter((item) => item.type == "黑体").length, type: "黑体" }); %>
</header>
<main>
  <% DATA.filter((item) => item.type == "黑体").sort((a, b) => a.ctime - b.ctime).forEach(function(font, idx){ %>
    <%- include('./_partial/home-list', { font }); %>
  <% }); %>
</main>
<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-2EK0DSWLYC"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-2EK0DSWLYC');
</script>
<%- include('./_partial/footer', { }); %>