<%- include('./_partial/header', { type: "home", title: "黑体", pageurl: "hei.html" }); %>
<header>
<%- include('./_partial/header-title', { length: DATA.filter((item) => item.type == "黑体").length, type: "黑体" }); %>
</header>
<main>
  <% DATA.filter((item) => item.type == "黑体").sort((a, b) => a.ctime - b.ctime).forEach(function(font, idx){ %>
    <%- include('./_partial/home-list', { font }); %>
  <% }); %>
</main>
<%- include('./_partial/footer', { }); %>