<%- include('./_partial/header', { type: "home", title: "", pageurl: "index.html" }); %>
<header>
<%- include('./_partial/header-title', { length: DATA.length, type: "全部" }); %>
</header>
<main>
  <% DATA.sort((a, b) => a.ctime - b.ctime).forEach(function(font, idx){ %>
    <%- include('./_partial/home-list', { font }); %>
  <% }); %>
</main>
<%- include('./_partial/footer', { }); %>