<%- include('./_partial/header', {
  type: "home", title: "Free Font - 收录商用免费字体(汉字英文字体)", pageurl: "index.html",
  description: "Free Font - 收录商用免费字体，包括汉字和英文字体，提供免费下载和使用。"
}); %>
<header>
<%- include('./_partial/header-title', { length: DATA.length, type: "全部" }); %>
</header>
<main>
  <% DATA.sort((a, b) => a.ctime - b.ctime).forEach(function(font, idx){ %>
    <%- include('./_partial/home-list', { font }); %>
  <% }); %>
</main>
<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-4EHKZ0XXBS"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-4EHKZ0XXBS');
</script>
<%- include('./_partial/footer', { }); %>