<%- include('./_partial/header', { type: "home" }); %>
<header>
<%- include('./_partial/header-title', { length: DATA.filter((item) => item.type == "楷体").length, type: "楷体" }); %>
</header>
<main>
  <% DATA.filter((item) => item.type == "楷体").forEach(function(font, idx){ %>
    <%- include('./_partial/home-list', { font }); %>
  <% }); %>
</main>
<%- include('./_partial/footer', { }); %>