<%- include('./_partial/header', { type: "home", title: "楷体", pageurl: "kai.html" }); %>
<header>
<%- include('./_partial/header-title', { length: DATA.filter((item) => item.type == "楷体").length, type: "楷体" }); %>
</header>
<main>
  <% DATA.filter((item) => item.type == "楷体").sort((a, b) => a.ctime - b.ctime).forEach(function(font, idx){ %>
    <%- include('./_partial/home-list', { font }); %>
  <% }); %>
</main>
<%- include('./_partial/footer', { }); %>