<%- include('./_partial/header', {
  type: "home",
  title: "商用免费开源字体｜Free Font｜商用免费字体下载（中文与英文字体）",
  pageurl: "open-source.html",
  description: "Free Font - 商用免费开源字体，包括汉字和英文字体，提供免费下载和使用。",
  keywords: "黑体,楷体,宋体,艺术体,手绘体,开源字体,免费字体,商用字体,汉字字体,英文字体,字体下载,免费商用字体,free fonts,commercial free fonts,Chinese fonts,English fonts,font download,free commercial fonts"
}); %>
<% const openSource = DATA.filter((item) => item.home && (item.home.includes("github.com") || item.home.includes("gitlab.com"))).sort((a, b) => a.ctime - b.ctime) %>
<%- include('./_partial/header-title', { length: openSource.length, type: "开源字体" }); %>
<main>
  <% openSource.sort((a, b) => a.ctime - b.ctime).forEach(function(font, idx){ %>
    <%- include('./_partial/home-list', { font }); %>
  <% }); %>
</main>
<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-QYRM07NB9C"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-QYRM07NB9C');
</script>
<%- include('./_partial/footer', { }); %>