<%- include('./_partial/header', {
  type: "home", title: "收录商用免费宋体字体｜Free Font｜免费商用字体下载（中文与英文字体）", pageurl: "song.html",
  description: "Free Font - 收录商用免费宋体字体，包括汉字和英文字体，提供免费下载和使用。",
  keywords: "黑体,楷体,宋体,艺术体,手绘体,开源字体,免费字体,商用字体,汉字字体,英文字体,字体下载,免费商用字体,free fonts,commercial free fonts,Chinese fonts,English fonts,font download,free commercial fonts"
}); %>
<header>
<%- include('./_partial/header-title', { length: DATA.filter((item) => item.type == "宋体").length, type: "宋体" }); %>
</header>
<main>
  <% DATA.filter((item) => item.type == "宋体").sort((a, b) => a.ctime - b.ctime).forEach(function(font, idx){ %>
    <%- include('./_partial/home-list', { font }); %>
  <% }); %>
</main>
<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-9BPS4SR04R"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-9BPS4SR04R');
</script>
<%- include('./_partial/footer', { }); %>