<footer class="footer">
  您可以在<a href="https://github.com/jaywcjlove/free-font" target="_blank">这里</a>提交商用免费字体 <sup><%=GLOBAL.PACKAGE.version%></sup><br />
  <div>
    <a href="https://jaywcjlove.github.io/free-font/" target="_blank">GitHub Page</a> • 
    <a href="https://raw.githack.com/jaywcjlove/free-font/main/docs/index.html" target="_blank">Githack</a> • 
    <a href="https://free-font.vercel.app" target="_blank">Vercel</a> • 
    <a href="https://github.com/jaywcjlove/copybook-generator" target="_blank" title="字帖宝宝 for macOS">字帖宝宝</a>
  </div>
  <div>
    Made by<a href="https://jaywcjlove.github.io/#/sponsor" target="_blank"> 小弟调调™ </a>with<span class="heart"> ❤</span></span>
  </div>
  <time datetime="<%=NOW_DATE%>"><%=NOW_DATE%></time>
</footer>
</body>
</html>